{include file="common/header" /}

<body class="layui-view-body">
    <div class="layui-content">
        <div class="layui-row">
            <div class="layui-card">
                <div class="layui-card-header">新增友情连接</div>
                <form class="layui-form layui-card-body" action="{:url('column/add')}" Method='post'>
                    <div class="layui-form-item">
                        <label class="layui-form-label">栏目名称</label>
                        <div class="layui-input-inline">
                            <input type="text" name="name" required lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux lay-red">*</div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn layui-btn-blue" lay-submit lay-filter="formDemo">新增</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            <button type="reset" class="layui-btn layui-btn-primary close-item">关闭</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="__STATIC__/assets/layui.all.js"></script>
    <script>
        var form = layui.form,
            layer = layui.layer,
            $ = layui.jquery;

        $('.close-item').click(function(event) {
            parent.layer.closeAll();
        });
    </script>
</body>

</html>
