<!DOCTYPE html>
<html lang="en">
<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="UTF-8">
    <meta name="description" content="Cocoon -Portfolio">
    <meta name="keywords" content="Cocoon , Portfolio">
    <meta name="author" content="Pharaohlab">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- ========== Title ========== -->
    <title>赵鹏个人博客</title>
    <!-- ========== Favicon Ico ========== -->
    <!--<link rel="icon" href="fav.ico">-->
    <!-- ========== STYLESHEETS ========== -->
    <!-- Bootstrap CSS -->
    <link href="__STATIC__/css/bootstrap.min.css" rel="stylesheet">
    <!-- Fonts Icon CSS -->
    <link href="__STATIC__/css/font-awesome.min.css" rel="stylesheet">
    <link href="__STATIC__/css/et-line.css" rel="stylesheet">
    <link href="__STATIC__/css/ionicons.min.css" rel="stylesheet">
    <!-- Carousel CSS -->
    <link href="__STATIC__/css/slick.css" rel="stylesheet">
    <!-- Magnific-popup -->
    <link rel="stylesheet" href="__STATIC__/css/magnific-popup.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="__STATIC__/css/animate.min.css">
    <!-- Custom styles for this template -->
    <link href="__STATIC__/css/main.css" rel="stylesheet">
</head>
<body>
