{include file="common/header" /}

<body class="layui-view-body">
    <div class="layui-content">
        <div class="layui-row">
            <div class="layui-card">
                <div class="layui-card-header">修改用户</div>
                <form class="layui-form layui-card-body" action="{:url('user/edit')}" method="post">
                    <div class="layui-form-item">
                        <label class="layui-form-label">用户名</label>
                        <div class="layui-input-inline">
                            <input type="text" name="name" value="{$user.name}" required lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux lay-red">*</div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">密码</label>
                        <div class="layui-input-inline">
                            <input type="password" name="password" value="{$user.password}" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux lay-red">*</div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">所在城市</label>
                        <div class="layui-input-inline">
                            <select name="city[]">
                                <option value="">请选择省</option>
                                <option value="四川" selected="">四川省</option>
                                <option value="浙江" selected="">浙江省</option>
                                <option value="江西">江西省</option>
                                <option value="福建">福建省</option>
                            </select>
                        </div>
                        <div class="layui-input-inline">
                            <select name="city[]">
                                <option value="">请选择市</option>
                                <option value="杭州">杭州</option>
                                <option value="成都">成都</option>
                                <option value="宁波" disabled="">宁波</option>
                                <option value="温州">温州</option>
                                <option value="温州">台州</option>
                                <option value="温州">绍兴</option>
                            </select>
                        </div>
                        <div class="layui-input-inline">
                            <select name="city[]">
                                <option value="">请选择县/区</option>
                                <option value="高新区">高新区</option>
                                <option value="西湖区">西湖区</option>
                                <option value="余杭区">余杭区</option>
                                <option value="拱墅区">临安市</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">性别</label>
                        <div class="layui-input-block">
                            <input type="radio" name="sex" {if $user.sex=='男'} checked {/if} value="男" title="男">
                            <input type="radio" name="sex" {if $user.sex=='女'} checked {/if} value="女" title="女">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">邮箱</label>
                        <div class="layui-input-inline">
                            <input type="text" name="email" value="{$user.email}" placeholder="请输入标题" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">个性签名</label>
                        <div class="layui-input-block">
                            <input type="text" name="signature" value="{$user.signature}" placeholder="请输入标题" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn layui-btn-blue" lay-submit lay-filter="formDemo">修改</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            <a href="{:url('user/index')}"><button style="margin-left:10px;" type="button" class="layui-btn layui-btn-primary close-item">关闭</button></a>
                            <input type="hidden" name="id" value="{$user.id}">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="__STATIC__/assets/layui.all.js"></script>
    <script>
        var form = layui.form,
            layer = layui.layer,
            $ = layui.jquery;
            
            $('.close-item').click(function(event) {
                parent.layer.closeAll();
            });
            
    </script>
</body>

</html>
